<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="createBook">
    <form method="POST" action="/books" id="createBookForm">
        <div class="form-group">
            <label>Book title</label>
            <input type="text" class="form-control" name="title" placeholder="Enter title"/>
        </div>
        <div class="form-group">
            <label>Author</label>
            <select class="form-control" name="authorId">
                <option value="">Select Author</option>
                <option th:each="author : ${authorsPageObj.content}" th:value="${author.id}"
                        th:text="${author.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div th:fragment="updateBook">
    <form>
        <div class="form-group">
            <label>Book id</label>
            <input type="text" readonly="true" name="bookId" class="form-control disabled" th:value="${book.id}"/>
        </div>
        <div class="form-group">
            <label>Book title</label>
            <input type="text" class="form-control" name="title" th:value="${book.title}" placeholder="Enter title"/>
        </div>
        <div class="form-group">
            <label>Author</label>
            <select class="form-control" name="authorId">
                <option value="">Select Author</option>
                <option th:each="author : ${authorsPageObj.content}" th:value="${author.id}"
                        th:text="${author.name}" th:selected="${book.authorId == author.id}"></option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" onclick="updateBook()">Submit</button>
    </form>
</div>
</body>
</html>
