<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="booksPage">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${pageObj.content}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.authorName}"></td>
            <td>
                <a class="btn btn-light btn-sm" th:href="@{/updateBook/{bookId}(bookId=${book.id})}">Update</a>
                <button type="button" class="btn btn-light btn-sm" th:onclick="'deleteBook(\'' + ${book.id} + '\');'">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination :: pagination"></div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-light" href="/createBook">Create a book</a>
        </div>
    </div>
</div>
<div th:fragment="authorsPage">
    <table class="table table-sm table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${pageObj.content}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.name}"></td>
            <td>
                <a class="btn btn-light btn-sm" th:href="@{/updateAuthor/{authorId}(authorId=${author.id})}">Update</a>
                <button type="button" class="btn btn-light btn-sm"
                        th:onclick="'deleteAuthor(\'' + ${author.id} + '\');'">Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/pagination :: pagination"></div>
    <div class="row">
        <div class="col-12">
            <a class="btn btn-light" href="/createAuthor">Create an author</a>
        </div>
    </div>
</div>
</body>
</html>
