<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
</head>
<body>
<div th:fragment="pagination">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item" th:classappend="${pageObj.first} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/{pageUrl}(pageUrl=${page},page=${pageObj.number - 1})}">Previous</a>
        </li>
        <li class="page-item disabled"><a class="page-link" href="#"
                                          th:text="${(pageObj.number + 1) + ' of ' + pageObj.totalPages}"></a></li>
        <li class="page-item" th:classappend="${pageObj.last} ? 'disabled' : ''">
            <a class="page-link" th:href="@{/{pageUrl}(pageUrl=${page},page=${pageObj.number + 1})}">Next</a>
        </li>
    </ul>
</div>
</body>
</html>