<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Error page</title>
</head>
<body>
    <span th:text="${status + ' ' + message}"></span>
</body>
</html>